<configuration>
	<connectionStrings>
		<add name="KTEntities" connectionString="metadata=res://*/KTModel.csdl|res://*/KTModel.ssdl|res://*/KTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=KT;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>