@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="menuDiv">
    <span class="menuLink" onclick="menuClick('Categories')">Categories</span> <span
        class="menuLink" onclick="menuClick('Tests')">Tests</span> <span class="menuLink"
            onclick="logout();">Logout</span><label>Admin Panel</label></div>
<div class="roundBordered" style="text-align: right; display: none;" id="categories">
    <span>Categories</span>
    <input type="text" placeholder="search by name..." id="categoriesNameSearch" onkeyup="catSearch()" />
    <script type="text/javascript">
        function catSearch() {
            $("#jqGridCategories").GridUnload();
            getCategories();
        }

        function editCategory() {
            document.location.href = '../Category/Index?id=' + getCategoriesSelectedId();
        }
        
        function addCategory() {
            document.location.href = '../Category/Index?id=00000000-0000-0000-0000-000000000000';
        }

        function deleteCategory() {
            
            $.ajax({
                url: '@Url.Action("DeleteCategory", "AdminPanel")',
                data: { id: getCategoriesSelectedId() },
                type: 'POST',
                success: function (data) {
                    alert(data);
                    document.location.href = document.location.href;
                }
            });
           
        }
        
        function getCategoriesSelectedId() {
            var rowId =$("#jqGridCategories").jqGrid('getGridParam','selrow');  
            var rowData = jQuery("#jqGridCategories").getRowData(rowId);
            var colData = rowData['Id'];
            return colData;
        }

        $(document).ready(function () {
            getCategories('');
        });

        function getCategories() {
            $("#jqGridCategories").jqGrid({
                url: '@Url.Action("GetCategories", "AdminPanel")',
                postData: {catName : $("#categoriesNameSearch").val()},
                mtype: "GET",
                datatype: "json",
                colModel: [
                    { label: 'Category Id', name: 'Id', width: 0.1, sortable: false },
                    { label: 'Category Name', name: 'Name', width: 250,sortable: false },
                    { label: 'Administrated By', name: 'Admin', width: 250,sortable: false },
                    { label: 'Subcategories', name: 'Subcategories', width: 100,sortable: false }
                ],
                viewrecords: true,
                width: 750,
                height: 250,
                rowNum: 20,
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    userdata: "userdata"
                },
            });
        }
    </script>
    <table id="jqGridCategories">
    </table>
    <input type="button" value="Add" onclick="addCategory()" /><input type="button" value="Edit"
        onclick="editCategory()" /><input type="button" value="Delete" onclick="deleteCategory()" />
</div>
<div class="roundBordered" style="text-align: right;" id="tests">
    <span>Tests</span>
    <input type="text" placeholder="search by name..." id="testNameSearch" onkeyup="testSearch()" />
    <script type="text/javascript">
        function testSearch() {
            $("#jqGridTests").GridUnload();
            getTests();
        }

         function testResults() {
             var finished = isTest('Finished');
             
             if (finished === false) {
                 alert("The test is not finised, you cannnot view the results!");
                 return;
             }
            var id = getTestSelectedId();
            document.location.href = '../TestResults/Index?id=' + id;
         }

        function editTest() {
            var scheduled = isTest('Scheduled');

            if (scheduled === false) {
                alert("You can not edit an 'In Progress' or 'Finished' test!");
                return;
            }


            document.location.href = '../Test/Index?id=' + getTestSelectedId();
        }

        function addCustomTest() {
            document.location.href = '../Test/Index?id=00000000-0000-0000-0000-000000000000';
        }

        function deleteTest() {

            var scheduled = isTest('Scheduled');

            if (scheduled === false) {
                alert("You can not delete an 'In Progress' or 'Finished' test!");
                return;
            }


            $.ajax({
                url: '@Url.Action("DeleteTest", "AdminPanel")',
                data: { id: getTestSelectedId() },
                type: 'POST',
                success: function(data) {
                    alert(data);
                    document.location.href = document.location.href;
                }
            });

        }

        function getTestSelectedId() {
            var rowId = $("#jqGridTests").jqGrid('getGridParam', 'selrow');
            var rowData = jQuery("#jqGridTests").getRowData(rowId);
            var colData = rowData['Id'];
            return colData;
        }

        function isTest(status) {
            var rowId = $("#jqGridTests").jqGrid('getGridParam', 'selrow');
            var rowData = jQuery("#jqGridTests").getRowData(rowId);
            var colData = rowData['Status'];

            return colData === status;
        }

        $(document).ready(function() {
            getTests();
        });

        function getTests() {
            $("#jqGridTests").jqGrid({
                url: '@Url.Action("GetTests", "AdminPanel")',
                postData: {name : $("#testNameSearch").val()},
                mtype: "GET",
                datatype: "json",
                colModel: [
                    { label: 'Test Id', name: 'Id', width: 0.1, key: true, sortable: false },
                    { label: 'Name', name: 'Name', width: 200, sortable: false },
                    { label: 'Subcategory', name: 'Subcategory', width: 150, sortable: false },
                    { label: 'Start Date', name: 'StartDate', width: 100, sortable: false },
                    { label: 'Subscriptions', name: 'Subscriptions', width: 100, sortable: false },
                    { label: 'Duration', name: 'Duration', width: 100, sortable: false },
                    { label: 'Status', name: 'Status', width: 100, sortable: false }
                ],
                viewrecords: true,
                width: 750,
                height: 250,
                rowNum: 20,
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    userdata: "userdata"
                },
            });
        }
    </script>
    <table id="jqGridTests">
    </table>
    <input type="button" value="Results" onclick="testResults()" />
    <input type="button" value="Add" onclick="addCustomTest()" /><input type="button"
        value="Edit" onclick="editTest()" /><input type="button" value="Delete" onclick="deleteTest()" />
</div>
<script type="text/javascript">



    function menuClick(link) {
        closeAll();
        if (link === 'Categories') {
            $("#categories").show(500);
        }
        if (link === 'Tests') {
            $("#tests").show(500);
        }
    }
    function closeAll() {
        $("#categories").hide(250);
        $("#tests").hide(250);
    }
</script>
