<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-KnowledgeTester-20150519201639;Integrated Security=SSPI" providerName="System.Data.SqlClient" />

		<add name="KTEntities" connectionString="metadata=res://*/KTModel.csdl|res://*/KTModel.ssdl|res://*/KTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=KT;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="adminUser" value="admin"/>
		<add key="adminPass" value="admin"/>


		<!-- Logger Section -->
		<add key="_fileSizeMb" value="10"/>
		<add key="_fileRelativePath" value=""/>
		<add key="_queueCapacity" value="500"/>
		<add key="_logLevel" value="DEBUG"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login" timeout="2880" />
		</authentication>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>


	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IKtAnswersService" />
				<binding name="BasicHttpBinding_IKtCategoriesService" />
				<binding name="BasicHttpBinding_IKtQuestionsService" />
				<binding name="BasicHttpBinding_IKtSubcategoriesService" />
				<binding name="BasicHttpBinding_IKtTestService" />
				<binding name="BasicHttpBinding_IKtUsersService" />
				<binding name="BasicHttpBinding_IKtUserTestsService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:150/Services/KtAnswersService.svc" binding="basicHttpBinding"
				bindingConfiguration="BasicHttpBinding_IKtAnswersService" contract="KT.ServiceInterfaces.IKtAnswersService"
				name="BasicHttpBinding_IKtAnswersService" />
			<endpoint address="http://localhost:150/Services/KtCategoriesService.svc" binding="basicHttpBinding"
				bindingConfiguration="BasicHttpBinding_IKtCategoriesService" contract="KT.ServiceInterfaces.IKtCategoriesService"
				name="BasicHttpBinding_IKtCategoriesService" />
			<endpoint address="http://localhost:150/Services/KtQuestionsService.svc" binding="basicHttpBinding"
				bindingConfiguration="BasicHttpBinding_IKtQuestionsService" contract="KT.ServiceInterfaces.IKtQuestionsService"
				name="BasicHttpBinding_IKtQuestionsService" />
			<endpoint address="http://localhost:150/Services/KtSubcategoriesService.svc" binding="basicHttpBinding"
				bindingConfiguration="BasicHttpBinding_IKtSubcategoriesService" contract="KT.ServiceInterfaces.IKtSubcategoriesService"
				name="BasicHttpBinding_IKtSubcategoriesService" />
			<endpoint address="http://localhost:150/Services/KtTestService.svc" binding="basicHttpBinding"
				bindingConfiguration="BasicHttpBinding_IKtTestService" contract="KT.ServiceInterfaces.IKtTestService"
				name="BasicHttpBinding_IKtTestService" />
			<endpoint address="http://localhost:150/Services/KtUsersService.svc" binding="basicHttpBinding"
				bindingConfiguration="BasicHttpBinding_IKtUsersService" contract="KT.ServiceInterfaces.IKtUsersService"
				name="BasicHttpBinding_IKtUsersService" />
			<endpoint address="http://localhost:150/Services/KtUserTestsService.svc" binding="basicHttpBinding"
				bindingConfiguration="BasicHttpBinding_IKtUserTestsService" contract="KT.ServiceInterfaces.IKtUserTestsService"
				name="BasicHttpBinding_IKtUserTestsService" />
		</client>
	</system.serviceModel>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	</entityFramework>

</configuration>