<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169	433
  -->

<configuration>
	<connectionStrings>
		<add name="KTEntities" connectionString="metadata=res://*/KTModel.csdl|res://*/KTModel.ssdl|res://*/KTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=KT;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<dataContractSerializer maxItemsInObjectGraph="6553500"/>
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
</configuration>
